@model DataAccessLibrary.RegisterModel

@{
    ViewData["Title"] = "Create";
}

<h1>Fyll i dina personuppgifter</h1>
<hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input type="tel" pattern="^([+]46)\s*(7[0236])\s*(\d{4})\s*(\d{3})$" asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthYear" class="control-label"></label>
                    <br />
                    ååååmmdd-nnnn
                    <input  asp-for="BirthYear"  class="form-control birthyear" />
                    <span asp-validation-for="BirthYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>* Nödvändig</p>
                    <input type="submit" value="Nästa" class="btn btn-primary" style="font-size:1.5rem"/>
                </div>
                <h3 style="color:rebeccapurple">@ViewBag.Errormessage </h3>
            </form>
        </div>
    </div>

    <div style="font-size:x-large">
        <a asp-controller="Home" asp-action="Index">Tillbaka till startsidan</a>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
