@{
    ViewData["Title"] = "Home Page";
}


<div class="index-bakground-image">
    <div class="text-center">
        <h1 class="welcome-text">Välkommen till Hultas Bilverkstad</h1>
    </div>

    <div class="book-text">
        <div>
            <p>Klicka på knappen för att boka service </p>
        </div>
        <div>
            <a href="/Register/Create" class="book-button ">Boka här</a>
        </div>

    </div>

</div>