@{
    ViewData["Title"] = "Kontaktuppgifter";
}
<h1>@ViewData["Title"]</h1>
<br />

    <p>
        Hultas Bilverkstad är ett familjeföretag som slogs upp dörrarna för två år sedan.
        Vårat mål är att ge både den bästa kontakten och servicen.
    </p>

    <p>Vi hälsar både dig som är äldre och ung, välkommen att lämna in din bil hos oss.</p>
    <br />
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <br />
    <p>Hultas Bilverkstad 036-457869</p>
    <br />
    <p>Christoffer 036-457885</p>
    <br />
    <p>Stefan 036-457870</p>
    <br />
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <br />
    <p>Christoffer.hultgren@hultasbilverkstad.se</p>
    <p>stefan.hultgren@hultasbilverkstad.se</p>
