/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.book-button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #155724;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

    .book-button:hover {
        background: #434343;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.index-bakground-image {
    background-image: url('../images/car workshop.png');
    height: 1179px;
    width: 100%;
    left: 0;
    top: 57px;
    overflow: hidden;
    position: fixed;
    background-size: cover;
}




.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    color: yellow;
}

.book-text {
    margin: 0 auto;
    background-color: dimgrey;
    height: 300px;
    width: 600px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    color: yellow;
    font-size: 35px;
    background: rgba(105, 105, 105, 0.5);
    margin-top: 5%;
}

.container-home-index {
    display: flex;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -354px;
    background: rgba(0, 0, 0, 0.5);
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

@media (max-width:1024px) {
    .index-bakground-image {
        height: 528px;
        width: 100%;
        left: 0;
        top: 8%;
        overflow: hidden;
        position: fixed;
    }
}

@media (max-width:768px) {
    .book-text {
        width: 80%;
    }
}
